@forward "./reset.scss";

:root {
	font-family: "Montserrat", serif;
	max-width: 100vw;
	overflow-x: hidden;
}

* {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


a {
	color: inherit;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
button {
	color: inherit;
	font-weight: inherit;
	background-color: transparent;
}