@forward "./reset.scss";

:root {
	max-width: 100vw;
	overflow-x: hidden;
	font-family: $font-ubuntu;
}

* {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


a {
	color: inherit;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

button {
	color: inherit;
	font-weight: inherit;
	background-color: transparent;
}