$border: 1px solid #e6e5e5;

// Colors:
$color-dark-1: #1f1f1f;

// Fonts:
$font-ubuntu:  "Ubuntu", serif;

// Z-index values:
$z-overlay: 1000;


// Breakpoints:
$screen-mobile: 375px;
$screen-tablet: 768px;
$screen-desktop: 1024px;
