.tickets {
  padding: 1rem;
  border-radius: 8px;
}

.tickets__title {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.tickets__table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  tr {
    border-top: $border;
    border-bottom: $border;
  }

  td,
  th {
    padding: 0.7rem;

    &:last-child {
      text-align: right;
    }
  }
}

.tickets__head {
  color: #fff;
  font-weight: bold;
  background-color: $color-dark-1;
}
