.modal__overlay {
  width: 100vw;
  height: 100vh;

  inset: 0;
  position: fixed;
  z-index: $z-overlay;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  background: rgba(0, 0, 0, 0.7);
}

.modal__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.modal__content {
  padding: 1rem;
  width: 100vw;
  background: #fff;
  border-radius: 8px 8px 0 0;
}

.modal__header {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
  justify-content: space-between;
}

.modal__close-button {
  cursor: pointer;
  font-size: 1.5rem;
}

@media screen and (min-width: $screen-tablet) {
  .modal__overlay {
    align-items: center;
  }

  .modal__content {
    width: fit-content;
    min-width: 700px;
    max-width: 1024px;
    border-radius: 8px;
    padding: 1rem 2rem 2rem;
  }
}
